// _variables.scss → Colors, spacing, fonts
// Colors
$primary: #25335c;
$primary-2: #2d3a67;
$secondary: #f1f3fe;
$main-1: #655f73;
$main-2: #3ab477;
$main-2-light: #c4f6e3;
$main-3: #4d79e8;
$main-3-light: #dbdfff;
$main-4: #fd8b89;
$main-4-light: #ffdadd;
$filled: #281423;
$dark: #1a255c;
$light: #f8fafc;

// Radii
$radius-sm: 4px;
$radius-md: 6px;
$radius: 8px;
$radius-lg: 14px;

// Spacing scale
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 2rem;
$space-6: 3rem;
$space-7: 4rem;
$space-10: 5rem;

// Layout
$container-width: 1440px;
